@model IEnumerable<VoterManager.Models.DistrictViewModel>

@{
    ViewBag.Title = "Список районов";
}

<h2>Список районов</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table class="entityList">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.District.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District.ManagerId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Открыть", "Show", new { id = item.District.Id }) |
                @Html.ActionLink("Редактировать", "Edit", new { id = item.District.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.District.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.Name)
            </td>
            <td>
                @if (item.Manager != null)
                {
                    @Html.ActionLink(item.Manager.FullName, "Show", "Person", new { Id = item.Manager.Id }, new { title = "Просмотр акима" })
                }
                else
                {
                    <text>не указан</text>
                }
            </td>
        </tr>
    }

</table>
