@{
    ViewBag.Title = "Данные";
}
<table>
    <tr>
        <th>
            
        </th>
        <th>
            Избиратели
        </th>
        <th>
            Штаб
        </th>
        <th>
            Партия
        </th>
        <th>
            Руководство
        </th>
    </tr>
    <tr>
        <td>
            <h3>СПИСКИ</h3>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Физические лица", "Index", "Person", null, null)</li>
                <li>@Html.ActionLink("Организации", "Index", "Organization", null, null)</li>
                <li>@Html.ActionLink("Районы", "Index", "District", null, null)</li>
                <li>@Html.ActionLink("Нас. пункты", "Index", "Locality", null, null)</li>
                <li>@Html.ActionLink("Улицы", "Index", "Street", null, null)</li>
                <li>@Html.ActionLink("Дома", "Index", "House", null, null)</li>
                <li>@Html.ActionLink("Партии", "Index", "Party", null, null)</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Избиратели", "Index", "Voter", null, null)</li>
                <li>@Html.ActionLink("Кандидаты", "Index", "Candidate", null, null)</li>
                <li>@Html.ActionLink("Работники штаба", "Index", "Worker", null, null)</li>
                <li>@Html.ActionLink("Агитаторы", "Index", "Agitator", null, null)</li>
                <li>@Html.ActionLink("Временное хранилище физ. лиц", "Index", "TempPerson", null, null)</li>
                <li>@Html.ActionLink("Список МТУ", "Index", "Municipality", null, null)</li>
                <li>@Html.ActionLink("Руководители МТУ", "MunicipalityManagers", "Person", null, null)</li>
                <li>@Html.ActionLink("Квартальные/Домкомы", "HouseManagers", "Person", null, null)</li>
                <li>@Html.ActionLink("Список УИК", "Index", "Precinct", null, null)</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Члены партии", "Index", "PartyMember", null, null)</li>
                <li>@Html.ActionLink("Сторонники партии", "Index", "PartySupporter", null, null)</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Монитор кандидатов", "ShowCandidates", "Monitor", null, null)</li>
                <li>@Html.ActionLink("Монитор по УИК-ам", "Index", "Monitor", null, null)</li>
                <li>@Html.ActionLink("Конструктор карты", "Map", "Monitor", null, null)</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h3>СПРАВОЧНИКИ</h3></td>
        <td>
            <ul>
                <li>@Html.ActionLink("Справочник национальностей", "Index", "Nationality", null, null)</li>
                <li>@Html.ActionLink("Категории образования", "Index", "Education", null, null)</li>
                <li>@Html.ActionLink("Справочник типов взаимоотношений", "Index", "Relationship", null, null)</li>
            </ul>
        </td>
        <td>
            <ul>
                <li>@Html.ActionLink("Связи домов с МТУ", "Index", "Relation", null, null)</li>
            </ul>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>