@model VoterManager.Models.HouseViewModel

@{
    ViewBag.Title = "Просмотр дома: " + Model.House.Name;
}

<h2>Просмотр дома: @Model.House.Name</h2>

<fieldset>
    <legend>Дом</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.House.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.House.Name)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Street.Name)
    </div>
    <div class="display-field">
        @if (Model.Street != null)
        {
            @Html.ActionLink(Model.Street.Name, "Show", "Street", new { Id = Model.Street.Id }, new { title = "Открыть улицу" });
        }
        else
        {
            <text>не указано</text>
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.House.ManagerId)
    </div>
    <div class="display-field">
        @if(Model.Manager != null)
        {
            @Html.ActionLink(Model.Manager.FullName, "Show", "Person", new { Id = Model.Manager.Id }, new { title = "Просмотр управляющего" })
        }
        else
        {
            <text>не указан</text>
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.House.PrecinctId)
    </div>
    <div class="display-field">
        @if (Model.Precinct != null)
        {
            @Html.ActionLink(Model.Precinct.Name, "Show", "Precinct", new { Id = Model.Precinct.Id }, new { title = "Просмотр УИК" })
        }
        else
        {
            <text>не указан</text>
        }
    </div>
</fieldset>
<br />
<h5>Позиция на карте</h5>
@*@Html.ActionLink("Указать на карте", "SetMapPosition", new { id = Model.Precinct.Id })*@
<table class="entityList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.House.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House.Longitude)
        </th>
    </tr>
    @if (Model.House.Latitude.HasValue && Model.House.Longitude.HasValue)
    {
        <tr>
            <td>
                @Model.House.Latitude
            </td>
            <td>
                @Model.House.Longitude
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.House.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
<br />
<h5>Жители дома</h5>
@Html.ActionLink("Создать нового гражданина", "Create", "Person", new { houseId = Model.House.Id }, null)
@if ((ViewBag.Persons as IEnumerable<Domain.Entities.Person>).Count() > 0)
{
    <table class="entityList">
        <tr>
            <th>
            </th>
            <th>ФИО</th>
            <th>Д.р.</th>
        </tr>
        @foreach (var p in ViewBag.Persons as IEnumerable<Domain.Entities.Person>)
        {
            <tr>
                <td>
                    @Html.ActionLink("Открыть", "Show", "Person", new { Id = p.Id }, null) |
                    @Html.ActionLink("Редактировать", "Edit", "Person", new { Id = p.Id }, null) |
                    @Html.ActionLink("Удалить", "Delete", "Person", new { Id = p.Id }, null)
                </td>
                <td>@p.LastName @p.FirstName @p.MiddleName</td>
                <td>
                    @(p.BirthDate.HasValue ? p.BirthDate.Value.ToShortDateString() : "не указано")
                </td>
            </tr>
        }
    </table>
}
<br />
<h5>МТУ</h5>
@if (ViewBag.Municipality != null)
{
    @Html.ActionLink((string)ViewBag.Municipality.Name, "Show", "Municipality", new { Id = ViewBag.Municipality.Id }, new { title = "Просмотр МТУ" })
}
else
{
    @Html.ActionLink("Указать МТУ", "AddHouseToMunicipality", "Relation", new { houseId = Model.House.Id }, new { title = "Указать МТУ" })
}