@model Domain.Entities.Locality
@using (Ajax.BeginForm("CreatePartial", "Locality", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSuccess"
}, new { id = "dialogLocality" }))
{
    <fieldset>
        <legend>Нас. пункт</legend>
        <p>Район: @ViewBag.DistrictName</p>
        @Html.HiddenFor(model => model.DistrictId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
}