@model Domain.Entities.Person

@{
    ViewBag.Title = "Редактирование физ. лица";
}

<h2>Редактирование физ. лица</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Физ.лицо</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        @*<div id="create_district" title="Добавление нового района">

            </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.DistrictId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DistrictId, ViewBag.Districts as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выбрать" })
            @Html.ValidationMessageFor(model => model.DistrictId)
            @*@Ajax.ActionLink("Добавить", "CreatePartial", "District", null, new AjaxOptions
                {
                    UpdateTargetId = "create_district",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnSuccess = "$('#create_district').dialog('open')"
                }, null)*@
        </div>
        <div id="create_locality" title="Добавление нового нас. пункта"></div>
        <div id="choice_locality" title="Выбор нас. пункта"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LocalityId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.LocalityId)
            <div id="localityName">@(ViewBag.Locality != null ? ViewBag.Locality.Name : "не указано")</div>
            @Ajax.ActionLink("Выбрать", "ChoicePartial", "Locality", null, new AjaxOptions
       {
           UpdateTargetId = "choice_locality",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           OnSuccess = "$('#choice_locality').dialog('open')"
       }, new { id = "choiceLocalityLinkId" })
        </div>
        <div id="create_street" title="Добавление новой улицы"></div>
        <div id="choice_street" title="Выбор улицы"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StreetId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.StreetId)
            <div id="streetName">@(ViewBag.Street != null ? ViewBag.Street.Name : "не указано")</div>
            @Ajax.ActionLink("Выбрать", "ChoicePartial", "Street", null, new AjaxOptions
       {
           UpdateTargetId = "choice_street",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           OnSuccess = "$('#choice_street').dialog('open')"
       }, new { id = "choiceStreetLinkId" })
        </div>

        <div id="create_house" title="Добавление нового дома"></div>
        <div id="choice_house" title="Выбор дома"></div>
        <div class="editor-label">
            @Html.LabelFor(model => model.HouseId)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.HouseId)
            <div id="houseName">@(ViewBag.House != null ? ViewBag.House.Name : "не указано")</div>
            @Ajax.ActionLink("Выбрать", "ChoicePartial", "House", null, new AjaxOptions
       {
           UpdateTargetId = "choice_house",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET",
           OnSuccess = "$('#choice_house').dialog('open')"
       }, new { id = "choiceHouseLinkId" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apartment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apartment)
            @Html.ValidationMessageFor(model => model.Apartment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NationalityId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.NationalityId, ViewBag.Nationalities as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выбрать" })
            @Html.ValidationMessageFor(model => model.NationalityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EducationId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.EducationId, ViewBag.Educations as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выбрать" })
            @Html.ValidationMessageFor(model => model.EducationId)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    var host = location.host == 'localhost:65275' ? location.host : location.host + '/VoterManager';
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "Не найдено", width: "170px", allow_single_deselect: true });
    });
    //dialog Locality choice
    $(function () {
        $("#choice_locality").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Выбрать": function () {
                    var localityName = $("#LocalityId2 option:selected").text();
                    var localityVal = $('#LocalityId2').chosen().val();
                    $('#LocalityId').val(localityVal);
                    $('#localityName').text(localityName);
                    $("#choice_locality").dialog("close");
                },
                "Отмена": function () {
                    $("#choice_locality").dialog("close");
                }
            },
            close: function () {
                $("#choice_locality").dialog("close");
            }
        });
        $('#choiceLocalityLinkId').mouseover(function () {
            var selectedDistrict = $('#DistrictId').chosen().val();
            var selectedLocality = '';
            if ($('#LocalityId').val() != '') selectedLocality = '&Id=' + $('#LocalityId').val();
            $('#choiceLocalityLinkId').attr('href', 'http://' + host + '/Locality/ChoicePartial?districtId=' + selectedDistrict + selectedLocality);
        });
    });

    //dialog Street choice
    $(function () {
        $("#choice_street").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Выбрать": function () {
                    var streetName = $("#StreetId2 option:selected").text();
                    var streetVal = $('#StreetId2').chosen().val();
                    $('#StreetId').val(streetVal);
                    $('#streetName').text(streetName);
                    $("#choice_street").dialog("close");
                },
                "Отмена": function () {
                    $("#choice_street").dialog("close");
                }
            },
            close: function () {
                $("#choice_street").dialog("close");
            }
        });
        $('#choiceStreetLinkId').mouseover(function () {
            var selectedDistrict = $('#DistrictId').chosen().val();
            var selectedLocality = $('#LocalityId').val();
            if (selectedLocality != '') selectedLocality = '&localityId=' + selectedLocality;
            var selectedStreet = '';
            if ($('#StreetId').val() != '') selectedStreet = '&Id=' + $('#StreetId').val();
            $('#choiceStreetLinkId').attr('href', 'http://' + host + '/Street/ChoicePartial?districtId='
                + selectedDistrict + selectedLocality + selectedStreet);
        });
    });

    //dialog House choice
    $(function () {
        $("#choice_house").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Выбрать": function () {
                    var streetName = $("#HouseId2 option:selected").text();
                    var streetVal = $('#HouseId2').chosen().val();
                    $('#HouseId').val(streetVal);
                    $('#houseName').text(streetName);
                    $("#choice_house").dialog("close");
                },
                "Отмена": function () {
                    $("#choice_house").dialog("close");
                }
            },
            close: function () {
                $("#choice_house").dialog("close");
            }
        });
        $('#choiceHouseLinkId').mouseover(function () {
            var selectedStreet = $('#StreetId').val();
            var selectedHouse = '';
            if ($('#HouseId').val() != '') selectedHouse = '&Id=' + $('#HouseId').val();
            $('#choiceHouseLinkId').attr('href', 'http://' + host + '/House/ChoicePartial?streetId='
                + selectedStreet + selectedHouse);
        });
    });

    function OnSuccess(data) {
        AppendToDropDownList(data.Name, data.Id, data.Key);
    }
    function AppendToDropDownList(text, value, ddlId) {
        var newItem = $('<option/>', {
            value: value,
            text: text,
            selected: true
        });
        $('#' + ddlId).append(newItem).trigger("chosen:updated");
    }
</script>