@model IEnumerable<VoterManager.Models.PersonViewModel>

@{
    ViewBag.Title = "Список граждан-избирателей";
}

<h2>Список граждан-избирателей</h2>

<p>
    @Html.ActionLink("Создать нового гражданина", "Create")
</p>
<table class="entityList">
    <tr>
        <th></th>
        <th>
            ФИО
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Party.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.Name)
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Person.Id }) |
                @Html.ActionLink("Открыть", "Show", new { id = item.Person.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Person.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName) @Html.DisplayFor(modelItem => item.Person.FirstName) @Html.DisplayFor(modelItem => item.Person.MiddleName)
            </td>
            <td>
                @if (item.Party != null)
                {
                    @Html.ActionLink(item.Party.Name, "Show", "Party", new { Id = item.Party.Id }, new { title = "Открыть партию" });
                }
                else
                {
                    <text>не указано</text>
                }
            </td>
            <td>
                @if (item.Organization != null)
                {
                    @Html.ActionLink(item.Organization.Name, "Show", "Organization", new { Id = item.Organization.Id }, new { title = "Открыть организацию" });
                }
                else
                {
                    <text>не указано</text>
                }
            </td>
        </tr>
    }

</table>
