@model IEnumerable<VoterManager.Models.RelationshipRelatedPersonViewModel>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Relationship.Type)</th>
        <th>@Html.DisplayNameFor(model => model.RelatedPerson.FullName)</th>
        <th>Действие</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Relationship.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedPerson.FullName)
        </td>
        <td>
            @Html.ActionLink("убрать", "RemoveRelatedPerson", new { relationId = item.PersonRelationshipPersonRelation.Id })
        </td>
    </tr>
}
</table>