@model VoterManager.Models.PersonViewModel

@{
    ViewBag.Title = "Просмотр физ. лица";
}

<h2>Просмотр физ. лица</h2>
<div class="float-right">
    @{
        Html.RenderAction("ViewStateServiceInfo", new { personId = Model.Person.Id });
        Html.RenderAction("ViewAddressManagers", new { districtId = Model.Person.DistrictId, houseId = Model.Person.HouseId });//месту проживания
        Html.RenderAction("ViewOfficialAddressManagers", new { personId = Model.Person.Id });//прописке
    }
</div>
<fieldset>
    <legend>@Html.DisplayNameFor(model => model.Person)</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.BirthDate)
    </div>
    <div class="display-field">
        @*@Html.DisplayFor(model => model.Person.BirthDate)*@@(Model.Person.BirthDate.HasValue ? Model.Person.BirthDate.Value.ToString("d") : "--.--.----")
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.Email)
    </div>
    <div class="addressInfo">
        <h5>Адресные данные</h5>
        <section class="feature">
            <b>Проживает</b>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.District.Name)
            </div>
            <div class="display-field">
                @if (Model.District != null)
            {
                    @Html.ActionLink(Model.District.Name, "Show", "District", new { Id = Model.District.Id }, new { title = "Открыть район" });
            }
            else
            {
                    <text>не указано</text>
            }
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Locality.Name)
            </div>
            <div class="display-field">
                @if (Model.Locality != null)
            {
                    @Html.ActionLink(Model.Locality.Name, "Show", "Locality", new { Id = Model.Locality.Id }, new { title = "Открыть нас. пункт" });
            }
            else
            {
                    <text>не указано</text>
            }
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Street.Name)
            </div>
            <div class="display-field">
                @if (Model.Street != null)
            {
                    @Html.ActionLink(Model.Street.Name, "Show", "Street", new { Id = Model.Street.Id }, new { title = "Открыть улицу" });
            }
            else
            {
                    <text>не указано</text>
            }
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.House.Name)
            </div>
            <div class="display-field">
                @if (Model.House != null)
            {
                    @Html.ActionLink(Model.House.Name, "Show", "House", new { Id = Model.House.Id }, new { title = "Открыть дом" });
            }
            else
            {
                    <text>не указано</text>
            }
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Person.Apartment)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Person.Apartment)
            </div>

        </section>
        <section class="feature">
            <b>Прописан</b>
            @{
            Html.RenderAction("ViewRegistration", new { personId = Model.Person.Id });
            }
        </section>
        <div class="clear-fix"></div>
    </div>


    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nationality.Name)
    </div>
    <div class="display-field">
        @if (Model.Nationality != null)
        {
            @Html.ActionLink(Model.Nationality.Name, "Show", "Nationality", new { Id = Model.Nationality.Id }, new { title = "Открыть национальность" });
        }
        else
        {
            <text>не указано</text>
        }
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Education.Name)
    </div>
    <div class="display-field">
        @if (Model.Education != null)
        {
            @Html.ActionLink(Model.Education.Name, "Show", "Education", new { Id = Model.Education.Id }, new { title = "Открыть образование" });
        }
        else
        {
            <text>не указано</text>
        }
    </div>

</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id=Model.Person.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>