@model VoterManager.Models.RegistrationViewModel

<div class="registration-info">
    <h5>Адрес прописки</h5>
    <div class="display-label">@Html.DisplayNameFor(model => model.District.Name)</div>
    <div class="display-field">
        @if(Model.District != null)
        {
            @Html.ActionLink(Model.District.Name, "Show", "District", new { Id = Model.District.Id }, new { title = "Просмотр района"})
        }
        else
        {
            <text>не указан</text>
        }
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Locality.Name)</div>
    <div class="display-field">
        @if (Model.Locality != null)
        {
            @Html.ActionLink(Model.Locality.Name, "Show", "Locality", new { Id = Model.Locality.Id }, new { title = "Просмотр нас. пункта" })
        }
        else
        {
            <text>не указан</text>
        }
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Street.Name)</div>
    <div class="display-field">
        @if (Model.Street != null)
        {
            @Html.ActionLink(Model.Street.Name, "Show", "Street", new { Id = Model.Street.Id }, new { title = "Просмотр улицы" })
        }
        else
        {
            <text>не указан</text>
        }
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.House.Name)</div>
    <div class="display-field">
        @if (Model.House != null)
        {
            @Html.ActionLink(Model.House.Name, "Show", "House", new { Id = Model.House.Id }, new { title = "Просмотр дома" })
        }
        else
        {
            <text>не указан</text>
        }
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Registration.Apartment)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.Apartment)
    </div>
    <h5>Паспортные данные</h5>
    <div class="display-label">@Html.DisplayNameFor(model => model.Registration.PassportSeries)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.PassportSeries)
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Registration.PassportNo)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.PassportNo)
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Registration.PassportDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.PassportDate)
    </div>
    <div class="display-label">@Html.DisplayNameFor(model => model.Registration.PassportOrg)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Registration.PassportOrg)
    </div>
</div>