@{
    var routeValues = new RouteValueDictionary();
    if(ViewBag.District != null)
    {
        routeValues.Add("districtId", ViewBag.District.Id);
    }
    if(ViewBag.Locality != null)
    {
        routeValues.Add("localityId", ViewBag.Locality.Id);
    }
}
<fieldset>
    <legend>Улица</legend>
    <p>Район: @(ViewBag.District != null ? ViewBag.District.Name : "не выбран")</p>
    <p>Нас. пункт: @(ViewBag.Locality != null ? ViewBag.Locality.Name : "не выбран")</p>
    <div class="editor-field">
        @Html.DropDownList("StreetId2", ViewBag.Streets as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выберите улицу..." })
        @Html.ValidationMessage("StreetId2")
        @Ajax.ActionLink("Добавить", "CreatePartial", "Street", routeValues, new AjaxOptions
            {
                UpdateTargetId = "create_street",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                OnSuccess = "$('#choice_street').dialog('close'); $('#create_street').dialog('open');"
            })
    </div>
</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "По запросу ничего не найдено", width: "200px" });
    });
    //dialog Locality
    $(function () {
        $("#create_street").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Добавить": function () {
                    $("#dialogStreet").submit();
                    $("#create_street").dialog("close");
                },
                "Отмена": function () {
                    $("#create_street").dialog("close");
                    $("#choice_street").dialog("open");
                }
            },
            close: function () {
                $("#create_street").dialog("close");
                $("#choice_street").dialog("open");
            }
        });
    });
</script>