@model Domain.Entities.CandidatePrecinctRelation

@{
    ViewBag.Title = "Добавить УИК кандидату";
}

<h2>Добавить УИК кандидату</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.CandidateId)
        <div class="form-group">
            @Html.LabelFor(model => model.PrecinctId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PrecinctId, ViewBag.Precincts as IEnumerable<SelectListItem>, new { @class = "chzn-select form-control", data_placeholder = "Выбрать" })
                @Html.ValidationMessageFor(model => model.PrecinctId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "Не найдено", width: "170px"/*, allow_single_deselect: true*/ });
    });
</script>