@model IEnumerable<VoterManager.Models.CandidateViewModel>

@{
    ViewBag.Title = "Кандидаты";
}
@section heads{
    @Styles.Render("~/bundles/leaflet/base/css", "~/bundles/leaflet/awesome-markers/css")
}
<h2>Кандидаты</h2>

<p>
    @Html.ActionLink("Создать нового кандидата", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Person.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Person.Years)</th>
        <th>@Html.DisplayNameFor(model => model.Candidate.MarkerType)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Открыть", "Show", new { id = item.Candidate.Id })
        </td>
        <td>@item.Person.FullName</td>
        <td>@item.Person.Years</td>
        <td><ul><li class="awesome-marker awesome-marker-icon-@item.Candidate.MarkerType" style="position:relative"></li></ul></td>
    </tr>
}

</table>
