@model IEnumerable<VoterManager.Models.AgitatorViewModel>

@{
    ViewBag.Title = "Агитаторы";
}

<h2>Агитаторы</h2>

<p>
    @Html.ActionLink("Создать нового агитатора", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Person.FullName)</th>
        <th>@Html.DisplayNameFor(model => model.Person.Years)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Открыть", "Show", new { id = item.Agitator.Id })
        </td>
        <td>@item.Person.FullName</td>
        <td>@item.Person.Years</td>
    </tr>
}

</table>
