@model Domain.Entities.Party

@{
    ViewBag.Title = "Просмотр партии: " + Model.Name;
}

<h2>Просмотр партии: @Model.Name</h2>

<fieldset>
    <legend>Партия</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Назад", "Index")
</p>
<br />
<h5>Список избирателей</h5>
@Html.ActionLink("Создать нового гражданина", "Create", "Person", new { partyId = Model.Id }, null)
@if (Model.Persons.Count > 0)
{
    <table class="entityList">
        <tr>
            <th>
            </th>
            <th>ФИО</th>
            <th>Д.р.</th>
        </tr>
        @foreach (var p in Model.Persons)
        {
            <tr>
                <td>
                    @Html.ActionLink("Открыть", "Show", "Person", new { Id = p.Id }, null) |
                    @Html.ActionLink("Редактировать", "Edit", "Person", new { Id = p.Id }, null) |
                    @Html.ActionLink("Удалить", "Delete", "Person", new { Id = p.Id }, null)
                </td>
                <td>@p.LastName @p.FirstName @p.MiddleName</td>
                <td>
                    @(p.BirthDate.HasValue ? p.BirthDate.Value.ToShortDateString() : "не указано")
                </td>
            </tr>
        }
    </table>
}