@model Domain.Entities.Worker

@{
    ViewBag.Title = "Редактирование работника";
}

<h2>Редактирование работника</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Работник</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PersonId, ViewBag.Persons as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выберите" })
            @Html.ValidationMessageFor(model => model.PersonId)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "По запросу ничего не найдено", width: "200px" });
    });
</script>