@model IEnumerable<VoterManager.Models.WorkerViewModel>

@{
    ViewBag.Title = "Список работников";
}

<h2>Список работников</h2>

<p>
    @Html.ActionLink("Создать новый", "Create")
</p>
<table class="entityList">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Worker.PersonId)
        </th>
        <th>
            Ответственный за
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var responseTypes = "";
        if (item.Worker.Houses.Count > 0)
        {
            responseTypes = "Дом";
        }
        if(item.Worker.Precincts.Count > 0)
        {
            responseTypes = responseTypes != "" ? responseTypes + ", " + "УИК" : "УИК";
        }
        <tr>
            <td>
                @Html.ActionLink("Открыть", "Show", new { id = item.Worker.Id }) |
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Worker.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Worker.Id })
            </td>
            <td>
                @if (item.Person != null)
                {
                    @Html.ActionLink(item.Person.FullName, "Show", "Person", new { Id = item.Person.Id }, new { title = "Просмотр гражданина" })
                }
                else
                {
                    <text>не указан</text>
                }
            </td>
            <td>
                @responseTypes
            </td>
        </tr>
    }

</table>
