@model Domain.Entities.Precinct

@{
    ViewBag.Title = "Создание УИК";
}

<h2>Создание ИК</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>УИК</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DistrictId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.DistrictId, ViewBag.Districts as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выбрать" })
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.WorkerId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.WorkerId, ViewBag.Workers as IEnumerable<SelectListItem>, new { @class = "chzn-select", data_placeholder = "Выбрать" })
            @Html.ValidationMessageFor(model => model.DistrictId)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen({ no_results_text: "По запросу ничего не найдено", width: "300px", allow_single_deselect: true });
    });
</script>