@model VoterManager.Models.PrecinctViewModel

@{
    ViewBag.Title = "Удаление УИК";
}

<h2>Удаление МТУ</h2>

<h3>Вы уверены что хотите удалить УИК?</h3>
<fieldset>
    <legend>УИК</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Precinct.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precinct.Name)
    </div>
    <div class="display-label">
        Район
    </div>
    <div class="display-field">
        @(Model.District != null ? Model.District.Name : "не указано")
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку", "Index")
    </p>
}
